



@import "tailwindcss";

.image {
  background-image: url(./assets/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.title-font {
  font-family: 'Boldonse';
}
